{% load static %}
  <!--=================================
    Footer Area
    ===================================== -->
    <footer class="site-footer">
      
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright-heading"> <!-- text --></p><!-- 
                <a href="#" class="payment-block">
                    <img src="image/icon/payment.png" alt="">
                </a> -->
                <p class="copyright-text">Developed By <a href="https://nahaksoft.tech/" class="author">NahakSoft.Tech</a>. All Right Reserved.
                    <br>
                    Powered By INFINITIVE CUBE</p>
            </div>
        </div>
    </footer>
	<!-- Use Minified Plugins Version For Fast Page Load -->
	<script src="{% static 'js/plugins.js' %} "></script>
	<script src="{% static 'js/ajax-mail.js' %} "></script>
	<script src="{% static 'js/custom.js' %} "></script>